# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Air binary
/tmp/

# Environment variables
.env

# Logs
*.log

# Node specific
node_modules/
dist/
.npm
.pnpm-store

# Editor specific
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# Docker volumes
postgres-data/

# OS specific
.DS_Store
Thumbs.db