services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: alerting-api
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      alerting-db:
        condition: service_healthy
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs

  alerting-db:
    image: postgres:16
    container_name: alerting-db
    network_mode: "host"
    ports:
      - "5432:5432"
    environment:
      # TEST NAME FOR API CHANGE IN PRODUCTION
      - POSTGRES_USER=alerting
      # TEST PASSWORD FOR API CHANGE IN PRODUCTION
      - POSTGRES_PASSWORD=alerting
      - POSTGRES_DB=alerting
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U alerting"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
    name: alerting-postgres-data
    driver: local
    # This makes the volume "anonymous" so it will be automatically removed when the container is removed
    external: false